@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.otf");
}

@font-face {
    font-family: BebasThin;
    src: url("../fonts/BebasNeue-Thin.otf");
}

* {
    font-family: BebasNeue;
    color: black;
}

input {
    color: black !important;
    font-size: 1.5vw !important;
}

textarea {
    color: black !important;
    font-size: 1.5vw !important;
}

a {
    text-decoration: none !important;
    color: snow !important;
}

a:hover {
    color: rgb(196, 179, 160) !important;
}

body {
    width: 100vw;
    height: 120vh;
    background-image: url("../img/background2.png");
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
}


.head {
    background-color: #211f1f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
}

.text-headers {
    font-size: 3.3vmax;
    letter-spacing: 1px;
    color: snow;
}

.home {
    margin-top: 13vw;
    color: black;
    z-index: 10;
}

.contact {
    margin-top: 8vw;
    color: black;
    z-index: 10;
}

.reveal {
    position: relative;
    transform: translateY(5vmax);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.link {
    color: blue;
}

.link:hover {
    color: black;
}

.img-style-1 {
    margin-top: 2.5vmax;
    margin-left: -1vmax;
    width: 8vmax;
    height: 8vmax;
}

.img-style-2 {
    margin-top: 2.5vmax;
    margin-left: 2vmax;
    width: 6vmax;
    height: 8vmax;
}

.img-style-3 {
    margin-top: 2.5vmax;
    width: 5vmax;
    height: 9vmax;
}

.img-style-wave {
    text-align: center;
    margin-left: 3vmax;
    width: 25vmax;
    height: 20vmax;
}

.text-title {
    text-align: center;
    font-weight: bolder;
    font-size: 10vmax;
    letter-spacing: 1px;
}

.text-subtitle {
    margin-left: 2vmax;
    text-align: center;
    font-weight: bold;
    font-size: 4vmax;
    color: #1a1919;
    letter-spacing: 1px;
}

.text-p {
    text-align: justify;
    font-weight: normal;
    font-size: 2.2vmax;
    color: #535050;
    letter-spacing: 1px;
}

.text-f {
    font-weight: normal;
    font-size: 2.5vmax;
    letter-spacing: 1px;
}

.text-fl {
    color: #535050;
    font-size: 2.2vmax;
    letter-spacing: 1px;
}

.text-fs {
    color: #535050;
    font-size: 1.5vmax;
    letter-spacing: 1px;
}

.radio-s {
    width: 60%;
    height: 60%;
    margin-left: -8vw !important;
    border: 2px solid black !important;
}

.input-f {
    width: 90%;
    border-radius: 20px !important;
    border: 3px solid black !important;
}

.input-buscar {
    width: 90% !important;
    border-radius: 20px !important;
    border: 3px solid black !important;
}

.area-f {
    width: 90%;
    border-radius: 20px !important;
    border: 3px solid black !important;
    height: 10vmax !important;
}

.align-c {
    text-align: center;
}

.align-l {
    text-align: left;
}

.black {
    color: black;
}

.middle {
    vertical-align: middle;
}

.pad-0 {
    padding: 0%;
}

.margin-t7vm {
    margin-top: 7vmax;
}

.margin-t2vm {
    margin-top: 2vmax;
}

.margin-b5vm {
    margin-bottom: 5vmax;
}

.margin-b2vm {
    margin-bottom: 2vmax;
}

.margin-l1vm {
    margin-left: 1vmax;
}

.margin-l2vm {
    margin-left: 2vmax;
}

.margin-l1-5vm-n {
    margin-left: -1.5vmax;
}

.boton {
    border-radius: 10px !important;
    height: 120%;
    width: 45%;
    font-size: 1.5vw !important;
}

.boton-buscar {
    border-radius: 20px !important;
    height: 30%;
    width: 40%;
    font-size: 1.7vw !important;
    margin-left: -2.2vw;
}

.inblock {
    display: flex;
}

.nwrap {
    white-space: nowrap;
}

.colsize {
    height: 2vmax !important;
}

.rowcol {
    vertical-align: middle;
}

.headcol {
    background-color: #535050;
}

.fontable-h {
    font-size: 2vw !important;
}

.fontable {
    font-size: 1.7vw !important;
}

.border-t {
    border: 2px solid black;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.modal-content {
    background-color: cadetblue;
    margin-top: 10%;
    margin-left: 40%;
    width: 40% !important;
    max-width: 400px;
    height: 15%;
    max-height: 150px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.invisible {
    visibility: hidden;
}